*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1400px;

    

}


.flex_container{

    height: 465px;
    border: 2px solid black;

}

#headbar{

    height: 3.5rem;
    background-color: rgb(0, 106, 255);
    padding: 0.1rem;
    

}

#headbar_content{

    height: 2rem;
    background-color: brown;
    margin: 0.5rem 20%;
    border: 1px dashed black;
    display: flex;


}


.content_bar_1,.content_bar_2,.content_bar_3{

    height: 100%;
    
    background-color: rgb(118, 165, 42);
    border: 1px dashed black;

    
    

}

.content_bar_1{

    width: 20%;

}

.content_bar_2{

    width: 60%; 
    text-align: center;

}


.content_bar_3{

    width: 20%;
    text-align: right;
}



.header_box{

    height: 350px;
    width: 600px;
    background-color: brown;
    margin: 2% 30%;
    border: 1px dashed black;
    

}


.flex_container_structure{

    height: 465px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;


}


.flex_structure_1{

    height: 80%;
    background-color: blue;
    width: 35rem;
}

.flex_structure_2{

    height: 80%;
    background-color: rgb(0, 255, 94);
    width: 20rem;
}

